<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route '/restaurants'}}active{{/ifEqual}} fw-bold" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route '/restaurants/feeds'}}active{{/ifEqual}} fw-bold" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route '/users/top'}}active{{/ifEqual}} fw-bold" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifEqual route '/restaurants/top'}}active{{/ifEqual}} fw-bold" href="/restaurants/top">Top 10 人氣餐廳</a>
  </li>
</ul>