<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">登入</h1>
</div>
<form class="form-signin" action="/signin" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="email">信箱</label>
    <input class="form-control" id="email" type="text" name="email" class="form-control" placeholder="Email" required
      autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">密碼</label>
    <input class="form-control" id="password" type="password" name="password" class="form-control"
      placeholder="Password" required>
  </div>
  <div class="mt-5">
    <button class="btn btn-primary btn-block me-3" type="submit"><i class="fa-solid fa-right-to-bracket"></i> 登入</button>
    <a href="/signin/facebook" class="btn btn-primary"><i class="fa-brands fa-square-facebook"></i> 使用Facebook進行登入</a>
    <a href="/signup" class="btn btn-link me-3">沒有帳號？請前往註冊</a>
  </div>
</form>
<div class="mb-4 text-center">
  
</div>